<%- include('./includes/header.ejs') %>
<%- include('./includes/navbar.ejs') %>

<section class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <% if (posts.length > 0) { %>
                    <% posts.forEach(post => { %>
                        <div class="card">
                            <a href="/post/<%= post._id %>" class="btn btn-primary">
                                <div class="card-body">
                                    <h5 class="card-title"><%= post.postTitle %></h5>
                                     
                                    <div>
                                    <!-- <div style="overflow: hidden; white-space: nowrap; max-height: 80px; text-overflow: clip;"> -->
                                        <% images.forEach(image => { %>
                                        
                                            <% if (post.image.toString() == image._id.toString()) { %>
                                                <p class="card-text">Img</p>
                                                <img class="card-img-top" src="data:image/jpeg;base64,<%= image.img.data.toString('base64') %>" alt="Hero" />

                                            <% } %> 
                                            <% }) %>
                                            <p class="card-text"><%- post.postDescription %></p>

                                    </div>
                                    <% if (post.author == isAuth) { %>
                                        <p>Action</p>
                                        <form action="/post-delete" method="POST" class="login-form">
                                            <input type="hidden" value="<%= post._id %>" name="postId">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="submit-button" type="submit">Delete</button>
                                        </form> 
                                    <% } %>  
                                </div>
                            </a>
                        </div>
                        <% }) %>  
                    
                <% } else { %>
                    <h1>No Posts</h1>
                <% } %>
            </div>   
            <div class="col-lg-2">
                <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis eos debitis dolor. Tempore, officiis libero maxime possimus ut itaque nostrum aliquid officia exercitationem quibusdam voluptates quae illum numquam reprehenderit quam.</h1>
            </div>
        </div>
    </div>
</section>

