<%- include('./includes/header.ejs') %>
<%- include('./includes/navbar.ejs') %>
<section class="main-content">
    <div class="container-fluid">

        <div class="col-lg-10">
            <h1><%= post.postTitle %></h1>
            <p><%= post.postDescription %></p>
            <% if (image) { %>
            <img class="card-img-top" src="data:image/jpeg;base64,<%= image[0].img.data.toString('base64') %>" alt="Hero" />
            <% } %>
            <h2>Post comments</h2>
            <% comments.forEach(comment => { %>
              <hr />
              <p class="card-text">Comment: <%= comment.commentText %></p>
              <% users.forEach(user => { %>
                <% if (comment.author.toString() == user._id.toString()) { %>
                  <div>
                  <p>User: <%= user.username %></p>
                  <% if (user._id == isAuth) { %>
                      <form action="/comment-delete" method="POST" class="login-form">
                          <input type="hidden" value="<%= comment._id %>" name="commentId">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button class="submit-button" type="submit">Delete</button>
                      </form> 
                  <% } %> 
                </div>
                <% } %> 
              <% }); %> <!-- Closing the users loop -->
            
             
              <hr />
            <% }); %> <!-- Closing the comments loop -->
            <% if (post.author == isAuth) { %>
              
              <form action="/update-post" method="POST" class="login-form">
                <label for="postTitle">postTitle</label>
                <input type="text" id="postTitle" name="postTitle" >
                <label for="postDescription">postDescription</label>
                <input type="text" id="postDescription" name="postDescription" >
                <input type="hidden" value="<%= post._id %>" name="postId">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                 <button type="submit" class="submit-button">Create</button>
          <% } else { %>
               
          <% } %>  
        </div>
  </div>
</section>