<%- include('./includes/main.ejs') %>

    <div class="container-fluid" style="min-width: 400px; max-width:890px">

            <div>
                <% if (posts.length > 0) { %>
                    <% posts.forEach(post => { %>
                        <div class="card align-middle">
                            <a href="/show-post/<%= post._id %>" class="btn btn-primary">
                                <div class="card-body" style="margin-top: 20px;">
                                    <h5 class="card-title"><%= post.postTitle %></h5>
                                     
                                    <div>
                                        <% images.forEach(image => { %>
                                        
                                            <% if (post.image.toString() == image._id.toString()) { %>
                                                <img class="card-img-top" src="data:image/jpeg;base64,<%= image.img.data.toString('base64') %>" alt="Hero" />

                                            <% } %> 
                                            <% }) %>
                                            <p class="card-text"><%- post.postDescription %></p>


                                            <% comments.slice(0, 3).forEach(comment => { %>
                                        
                                                <% if (post._id.toString() == comment.postId.toString()) { %>
                                                    <hr />

                                                    <% users.forEach(user => { %>
                                                        <% if (comment.author.toString() == user._id.toString()) { %>
                                                            <p><%= user.username %></p>
                                                            <% if (user._id == isAuth) { %>
                                                                <form action="/comment-delete" method="POST" class="login-form">
                                                                    <input type="hidden" value="<%= comment._id %>" name="commentId">
                                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                                    <button class="submit-button" type="submit">Delete</button>
                                                                </form> 
                                                            <% } %> 
                                                        <% } %> 
                                                        <% }) %>
                                                    <p class="card-text"><%= comment.commentText %></p>
                                                   
                                                    <hr />
                                                <% } %> 
                                                <% }) %>

                                    </div>
                                    <% if (post.author == isAuth) { %>
                                        <form action="/post-delete" method="POST" class="login-form">
                                            <input type="hidden" value="<%= post._id %>" name="postId">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="warning" type="submit">DELETE THE POST</button>
                                        </form> 
                                    <% } %>  
                                  

                                </div>
                            </a>
                            <% if (isAuth)  { %>
                                <form action="/create-comment" method="POST" class="login-form">
                                    <label for="comment"> Comment</label>
                                    <input type="text" id="comment" name="comment" required>
                                    <input type="hidden" value="<%= post._id %>" name="postId">
                                    <input type="hidden" name="author" value="<%= isAuth %>" required>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="submit-button" type="submit">Create Comment</button>
                                </form> 
                                <% } %>  
                        </div>
                        <% }) %>  
                    
                <% } else { %>
                    <h1>No Posts</h1>
                <% } %>
            </div>   
            
    
    </div>
    <%- include('./includes/mainend.ejs') %>


